<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.biro.pengurusan.biropengurusanstnkbpkb">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.biro.pengurusan.biropengurusanstnkbpkb.SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.biro.pengurusan.biropengurusanstnkbpkb.Register"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.biro.pengurusan.biropengurusanstnkbpkb.Kontak"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.biro.pengurusan.biropengurusanstnkbpkb.Home"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.biro.pengurusan.biropengurusanstnkbpkb.Status"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.biro.pengurusan.biropengurusanstnkbpkb.Tentang"
            android:screenOrientation="portrait" />
        <activity android:name="com.biro.pengurusan.biropengurusanstnkbpkb.Login" />
        <activity android:name="com.biro.pengurusan.biropengurusanstnkbpkb.ProfilActivity" />
        <activity android:name="com.biro.pengurusan.biropengurusanstnkbpkb.ChangeProfile" />
        <activity android:name="com.biro.pengurusan.biropengurusanstnkbpkb.StatusPreview"></activity>
    </application>

</manifest>